html,
body {
	height: 100%;
}

body {
	background-color: #FFF;
	color: #333b43;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 12px;
	margin: 0;
}
a {
    color:#fa6900;
}
blockquote {
	font-size: 12px;
	font-style: italic;
	width: 100%;
	margin: 30px 0;
	padding: 20px 60px;
	position: relative;
	color: #435b61;
	font-style: italic;
	background-color: #e9ecda;
}
blockquote:before {
	font-family: 'FontAwesome';
	display: block;
	content: "\f10d";
	font-size: 30px;
	position: absolute;
	left: 20px;
	top: 20px;
	color: #fff;
	font-style: normal;
}
blockquote:after {
	font-family: 'FontAwesome';
	display: block;
	content: "\f10e";
	font-size: 30px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	font-style: normal;
}
img {
    max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: #09353E;
	font-weight: 600;
}
h1 {
   font-size: 30px;
}
h2 {
   font-size: 20px;
}
h3 {
   font-size: 18px;
}
h4 {
   font-size: 16px;
}
h5 {
   font-size: 14px;
}
h6 {
   font-size: 12px;
}
input, textarea, select {
   border: 1px solid #e0e4cc;
   background-color: #fff;
   width: 100%;
   font-size: 16px;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;	
   padding: 10px;
   color: #778589;   
}
input:focus, textarea:focus, select:focus  {
   -webkit-box-shadow:  0px 0px 2px 0px #36bed9;
   box-shadow:  0px 0px 2px 0px #36bed9;
   border: 1px solid #36bed9;
   color: #333b43;   
}
.clearer {
   clear: both; 	
}
.blue {
   color: #37bedb;
}
.fade-in-effect.anim {
   opacity: 1;
}
.anim {
  -webkit-animation: myanim 0.5s 1; /* Chrome, Safari 5+ */
     -moz-animation: myanim 0.5s 1; /* Firefox 5-15 */
       -o-animation: myanim 0.5s 1; /* Opera 12.00 */
          animation: myanim 0.5s 1; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

@-webkit-keyframes myanim {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-moz-keyframes myanim {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-o-keyframes myanim {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes myanim {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*---------------------------------- Boxed Page Template --------------------*/

body.boxed {
	background-color: #eff1e5;
}
body.boxed .body {
    max-width: 960px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow:  0px 0px 6px 0px #7f93a4;
    box-shadow:  0px 0px 6px 0px #7f93a4;
	position: relative;
}
body.boxed .container  {
    max-width: 960px;
	padding: 0 30px;
}
body.boxed .navbar {
    border-radius: 0;
	-webkit-border-radius: 0;
}
body.boxed .navbar-fixed-top, .navbar-fixed-bottom {
    max-width: 960px;
	margin: 0 auto;
}

/*---------------------------------- Header ---------------------------------*/

header {
	clear: both;
	background: #fff;
	border-bottom: 1px solid #eff1e5;
	height: 88px;	
}
.color-line {
    text-align: right;
}
.color-line img {
    vertical-align: top;
}
.social-icons-content {
    text-align: right;
	padding: 20px 0 0 0;
}

/*------------------------------------ Logo --------------------------------*/

h1.logo {
    margin: 0;
	padding: 0;
	margin-top: 10px;
}
h1.logo a:hover {
    text-decoration: none;
}
h1.logo div{
    font-size: 11px;
	font-weight: normal;
	color: #527178;
    display: inline-block;
    padding: 8px 0 8px 20px;
    border-left: 1px solid #ced7d8;	
	-webkit-transform: skew(26deg);
	-ms-transform: skew(26deg);
	transform: skew(26deg);
	margin-left:10px;
}
h1.logo div span{
    display: inline-block;
    -webkit-transform: skew(-26deg);
	-ms-transform: skew(-26deg);
	transform: skew(-26deg);
}

/*------------------------------ Search Form -----------------------------*/

.search-content{
   position:absolute;
   right:10px;
   top:6px;
}
.form-search input {
    background: #fa6900 url(../img/search_icon.png) no-repeat 11px center;
	width: 34px;
	height:34px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	border:0;
	padding: 0 0 0 34px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;	
	color:#fff;
}
.form-search input:focus {
	width: 150px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

/*------------------------------ Main Menu ------------------------------*/
.navbar {
    min-height: 43px;
    background-color: #fff;	
    -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.3);
}
.navbar .container {
    position: relative;
}
.navbar-nav > li {
    border-top: 6px solid transparent;
	margin-top: -3px;	
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;		
}
.navbar-nav > li:hover {
    border-top: 6px solid #fa6900;	
	background-color: #f9faf5;
}
.navbar-nav > li > a {
    font-size: 15px;
	font-weight: 400;
	color: #09353e;
    padding: 8px 20px;
    line-height: 18px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;	
}
.navbar-nav > li > a i {
    font-size: 10px;
}
.navbar-nav .dropdown .dropdown-menu {
    background-color: #f9faf5;
    padding: 0;
    -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.3);
} 
.navbar-nav .dropdown .dropdown-menu a {
    padding: 10px 25px;
	color: #09353e;	
	font-size: 13px;	
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;	
	border-bottom:1px solid #fff;
} 
.navbar-nav .dropdown .dropdown-menu a.off {
	color: #b8b8b8;	
} 
.navbar-nav .dropdown .dropdown-menu a:hover {
    background-color: #fa6900;
	color:#fff;
	padding:10px 25px 10px 35px;
}
.dropdown-menu{
    min-width: 200px;
}
.dropdown-submenu > a:after {
    border-color: transparent transparent transparent #fff;
}
.navbar-toggle {
  background-color: #36bed9;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.navbar-toggle .fa-bars {
  color: #fff;
  font-size: 18px;
}

/*---------------------- Multi-level Bootstrap Menu ----------------------------*/

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    left: 100%;
    top: 0;
    -webkit-box-shadow:  0px 2px 2px 1px #7b7b7b;
    box-shadow:  0px 2px 2px 1px #7b7b7b;	
}
.dropdown-submenu:hover > .dropdown-menu {
    opacity:1;
    visibility:visible;
}
.dropup .dropdown-submenu > .dropdown-menu {
    bottom: 0;
    margin-bottom: -2px;
    margin-top: 0;
    top: auto;
}
.dropdown-submenu > a:after {
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    visibility: visible;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #FFFFFF;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    -webkit-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}

/*----------------------- Revolution Slider ------------------------------------*/

.slider-container .tp-leftarrow.default, .slider-container .tp-rightarrow.default {
   z-index: 100;
   cursor: pointer;
   position: relative;
   background-color: #fff;
   background-image: none;
   width: 50px;
   height: 50px;
   font-family: 'FontAwesome';
   font-size: 20px;
   line-height: 50px;
   text-align: center;
   color: #09353e;  
   transition: all 0.3s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;	   
}
.slider-container .tp-leftarrow.default:before {
   content: "\f053";
}
.slider-container .tp-rightarrow.default:before {	
   content: "\f054";
}
.slider-container .tp-leftarrow.default:hover, .slider-container .tp-rightarrow.default:hover {
   background-color: #09353e;
   color: #fff;   
}
div.slider-container {
	background: #fff;
	max-height: 338px;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
}

div.slider-container.light {
	background-color: #fff;
}

div.slider-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.slider {
	max-height: 338px;
	position: relative;
}

div.slider-container-fullscreen,
div.slider-container-fullscreen div.slider {
	max-height: none;
}

div.slider div.tp-bannertimer {
	display: none;
}

div.slider-container {
	background: #35cdee;
}

div.slider-container div.caption {
	filter: alpha(opacity=0);
	opacity: 0;
}

div.slider-container div.tp-bannershadow {
	filter: alpha(opacity=20);
	opacity: 0.20;
}

div.slider-container.light div.tp-bannershadow {
	filter: alpha(opacity=5);
	opacity: 0.05;
	top: 0;
	bottom: auto;
	z-index: 1000;
}

div.slider > ul > li > div.center-caption {
	left: 0 !important;
	margin-left: 0 !important;
	text-align: center;
	width: 100%;
}

div.slider-container div.sub-title {
	color: #FFF;
	font-size: 26px;
	font-weight: 300;
}

div.slider-container div.top-title {
	color: #FFF;
	font-size: 48px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

div.slider-container div.bottom-label {
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
}

div.slider-container div.caption a,
div.slider-container div.caption a:hover {
	color: #FFF;
}

div.slider-container div.blackboard-text {
	color: #BAB9BE;
	font-size: 46px;
	font-family: "Shadows Into Light",cursive;
	font-style: italic;
	text-transform: uppercase;
}

div.slider a.main-button {
	font-size: 22px;
	font-weight: 600;
	line-height: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

div.slider-container.light div.top-label,
div.slider-container.light div.main-label,
div.slider-container.light div.bottom-label,
div.slider-container.light div.caption a,
div.slider-container.light div.caption a:hover {
	color: #333;
}

/*---------------------- Intro -------------------------------*/

.intro {
   background-color: #eff1e5;
   padding: 20px 0; 
}
.intro-text {
   color: #09353e;
   font-size: 18px;
   font-weight: 300;
}
.intro-text p {
   font-size: 28px;
   margin: 0;
}
.intro-button {
   text-align: center;
}
.intro-button button {
   background-color: #fa6900;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   display: inline-block;
   font-size: 16px;
   color: #fff;
   font-weight: 600;
   line-height: 58px;
   padding: 0 30px;  
   transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;	
    border: none;	
}
.intro-button button:hover {
   background-color: #fa8d00;
   text-decoration: none;   
}
  
/*--------------------- Home Icon Boxes -------------------------*/
.three-ico-boxes {
   padding: 50px 0;
} 
.ico-box {
   overflow: hidden;
   padding: 10px 0;   
}
.ico-box-ico i{
   float: left;
   display: inline-block;
   position: relative;
   width: 65px;
   height: 65px;
   -webkit-border-radius: 100%;
   border-radius: 100%;   
   text-align: center;
   color: #fff;
   font-size: 35px;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;   
   background-color: #36bed9;   
   color: #fff;   
   line-height: 65px;
}
.ico-box-text {
   padding-left:80px;
	color: #778589;   
} 
.ico-box-text h3 {
   margin: 0 0 10px 0;
   color: #09353e;
   font-weight: 600;
   font-size: 20px;
   line-height: 100%;
}

/*--------------------- Section Title -----------------------------*/

.section-title{
    background: url(../img/section-title-border.gif) repeat-x left center;
	margin:20px 0 30px 0;
}
.section-title-border{
    background-color: #fff;
	display: inline-block;
	-webkit-transform: skew(26deg);
	-ms-transform: skew(26deg);
	transform: skew(26deg);
    border-right: 1px solid #eceee1;	
	padding-right: 5px;	
}
.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 {
    border-right: 1px solid #eceee1;
	padding-right: 20px;
	margin: 0;
}
.section-title span {
    display: inline-block;
	-webkit-transform: skew(-26deg);
	-ms-transform: skew(-26deg);
	transform: skew(-26deg);    
}

/*--------------------- Recent Works ------------------------------*/

.recent-box {
    padding-bottom:40px;
}
.recent-box a {
    position: relative;
    display: block;
	overflow: hidden;
	border-bottom:5px solid #fff;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease; 
   background-color: #000;  
   max-height: 200px;   
}
.recent-box a:hover{
   	border-bottom:5px solid #36bed9;
}
.recent-box img {
    max-width: 100%;
	height: auto;
   transition: all 1s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease; 
}
.recent-box a:hover img{
   	opacity: 0.3;
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);  
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
     transform: scale(1.1); 
}
.recent-box a div{
    position: absolute;
	left:45%;
	top: 40%;
   transition: all 0.6s ease;
   -moz-transition: all 0.6s ease;
   -ms-transition: all 0.6s ease;
   -o-transition: all 0.6s ease;
   -webkit-transition: all 0.6s ease; 
   visibility: hidden;   
   opacity: 0;
}
.recent-box a:hover div{
   visibility: visible;	
   opacity: 0.4;   
}
.recent-box a div i{
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   text-align: center;
   color: #000;
   background-color: #fff;
   width: 40px;
   height: 40px;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   padding: 10px 0;
}
.recent-box div {
    padding: 0 10px;
	text-align: center;
	color: #778589;
}
.recent-box  h3 {
    margin: 8px 0 3px 0;
	color: #09353e;
    font-size: 16px;
    font-weight: 700;		
}

/*--------------------- Latest Works ------------------------*/

.carousel-indicators {
	margin-bottom: 0 !important;
}
.latest-content article {
    overflow: hidden;
	padding:0 20px 40px 10px;
}
.latest-content .date {
    float: left;
	width: 40px;
	margin-right: 20px;
    text-align: center;
    color: #849a9e;
    font-size: 11px;
    font-style: italic;	
}
.latest-content .date p {
    margin:5px 0;
}
.latest-content .date i {
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   text-align: center;
   color: #fff;
   background-color: #e0e4cc;
   width: 40px;
   height: 40px;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   padding: 10px 0;
}
.latest-content .blog-content {
    overflow: hidden;
}
.latest-content p .blog-content p {
	text-align: justify;
}
.latest-content .blog-content h4 {
    color: #09353e;
	font-weight: 600;
	font-size: 15px;
	margin: 0 0 15px 0;
}
.latest-content .blog-content p{
	margin: 0;
}
.latest-content .blog-content img{
	margin: 0 0 10px 0;
}

/*--------------------------- Our Features -----------------------*/

.features ul {
    padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 13px;
	color: #09353e;
}
.features ul li {
    padding: 7px 0;
}
.features ul i{
   display: inline-block;
   font-size: 20px;
   text-align: center;
   color: #36bed9;
   width: 40px;
   vertical-align: -10%;
}   

/*---------------------------- Tabs Article -----------------------*/

.tabs-article {
   padding: 0 10px;   
}
.tabs-article ul{
   border-bottom: 0;
   list-style-type: none;
   padding: 0;
   margin: 0; 
   overflow: hidden;
   height: 39px;
}
.tabs-article ul li{
   background: url(../img/tab-bg.jpg) repeat-x left top;
   width: 33.3%;  
   text-align:center;  
}
.tabs-article ul li a{
   display: block;
   height: 39px;   
   font-weight: 600;   
   font-size: 13px;
   line-height: 30px;
   color: #406267;
   border-top: 3px solid transparent;   
   border-left: 1px solid transparent;
   border-right: 1px solid transparent; 
   border-bottom: 1px solid #d3edeb;       
   border-radius: 0;
   -webkit-border-radius: 0;  
   margin: 0;   
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;   
}
.tabs-article ul li a:hover{
   color: #36bed9;
   text-decoration: none;
   border-top: 3px solid transparent;   
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;
   border-bottom: 1px solid #d3edeb;    
}
.tabs-article .nav-tabs li.active a{
   color: #36bed9 !important;
   text-decoration: none !important;
   border-top: 3px solid #36bed9 !important;   
   border-left: 1px solid #d3edeb !important;
   border-right: 1px solid #d3edeb !important;
   border-bottom: 1px solid #fff !important;    
}
.tabs-article .nav-tabs li.active a:focus{
   outline: none;
}
.tabs-article ul li a i {
   display: inline-block;
   font-size: 16px;
   margin-right:6px;
   vertical-align: -10%;
}
.tabs-article .tab-content {
   padding: 40px;
   font-size: 12px;
   font-style: italic;
   text-align: justify;   
}
.tabs-article .tab-content img{
   max-width: 100%;
   height: auto;
}
.tabs-article .tab-content .tab-article-pic{
   float: left;
   margin: 0 40px 20px 20px;
   border-radius: 100%;
   -webkit-border-radius: 100%; 
   width: 100px;
   height: 100px;
   overflow: hidden;   
}

/*----------------------------- Accordion News -------------------------------*/

.accordion-news .panel {
   margin-bottom: 5px;
}
.accordion-news .panel-heading a {
   background-color: #fa6900;
   color: #fff;
   transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;     
   line-height: 100%;   
}
.accordion-news .panel-heading a.collapsed {
   background: url(../img/tab-bg.jpg) repeat left top;
   color: #406267;     
}
.accordion-news .panel-heading a {
   display: block;
   font-weight: 600;   
   font-size: 13px;
   padding: 12px 30px 12px 20px;
}
.accordion-news .panel-heading a.collapsed:hover {
   color: #fa6900;   
   text-decoration: none;
}
.accordion-news .panel-heading a:hover {
   color: #fff; 
   text-decoration:none;
}
.accordion-news .panel-heading a:focus {
   outline: none;
}
.accordion-news .panel-heading a:after {
   content: "\f078";
   font-family: FontAwesome;
   display: block;
   float: right;
   line-height: 100%;
   margin-right: -10px;   
}
.accordion-news .panel-heading a.collapsed:after {
   content: "\f054";
}
.accordion-news .panel-body {
   padding: 20px;
   font-size: 12px;
}

/*---------------------------- Our Clients ---------------------*/

.our-clients-content div {
   text-align: center;
}
.our-clients-content a {
   display: block;
   opacity: 0.6;
} 
.our-clients-content a:hover {
   opacity: 1;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;  
} 
.our-clients-content a img {
   max-width: 100%;
   height: auto;
} 

/*--------------------------- Footer --------------------------*/

#footer {
   background-color: #0b2a31;
   padding: 30px 0 0 0;
   margin-top: 20px;
   color: #fff;
   line-height: 20px; 
   font-size: 11px;   
}
#footer h5 {
   margin:0 0 15px 0;
   font-size: 13px;
   font-weight: 600;
   color: #69d2e7;
}
.footer-menu, .footer-twitter, .footer-address, .footer-newsletter {
   margin-bottom: 40px;
}
.footer-menu ul {
   margin: 0;
   padding: 0;
   list-style-type: none;   
}
.footer-menu ul a {
   display: inline-block;
   color: #fff;
   text-decoration: none;
   padding: 3px 0;   
   transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;   
}
.footer-menu ul a:hover {
   color: #69d2e7;
}
.footer-twitter-box {
   margin-bottom: 20px;  
   overflow: hidden;
}
.footer-twitter-box .footer-twitter-ico{
   float: left;
   margin-right: 10px;
   font-size: 16px;
   color: #8e9fa3; 
}
.footer-twitter-box .footer-twitter-text {
   float: none;
   overflow: hidden;
   margin: 0;
   padding-right: 50px;
}
.footer-twitter-box .footer-twitter-text a {
   clear: both;
}
.footer-twitter-box .footer-twitter-text span {
   color: #c6d0d2;
   display: block;
}
.subscribe-input {
   background-color: #fff;
   padding: 5px 10px;
   color: #b5c2c5;
   margin-top: 10px;
   max-width: 220px;   
}
.subscribe-input i{
   font-size: 15px;
   margin-right: 10px;
}
.subscribe-input input {
   background-color: none;
   border: none;
   color: #b5c2c5;
   font-size: 12px;
   max-width: 170px;
}
.subscribe-input input:focus {
   color: #000; 
}
.subscribe-button {
   padding-top: 10px;
   text-align: right;
   max-width: 220px;   
}
.subscribe-button button{
   color: #fff;
   background-color: #527178;
   transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;   
}
.subscribe-button button:hover{
   background-color: #69d2e7;
   color: #fff;
}
.footer-social-icons {
   text-align: center;
   padding:40px 0 0 0;   
}

/*---------------------------------- Copyright -----------------------*/

.copyright {
   background-color: #09353e;
   padding: 10px 0 0 0;
   line-height: 100%; 
   margin-top: 20px;
}
.copyright-text {
   color: #486c74;
}   
.copyright-text a { 
   color: #a4bcc1;
   font-weight: 700;
   text-decoration: none;
   transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease; 
}  
.copyright-text a:hover {
   color: #69d2e7;
   text-decoration: none;
}

/*-------------------------------- Scroll Up Buttton -------------------*/

.scrollup {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
	width: 50px;
	height: 50px;
	text-align: center;	
	background-color: #e0e4cc;
	-webkit-border-radius: 100%;
    border-radius: 100%;	
	transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease; 
}
.scrollup:focus {
    outline: none;	
}
.scrollup:hover {
    text-decoration: none;
	background-color: #fa6900;
}
.scrollup i {
    color: #fff;
	font-size: 20px;
	line-height: 50px;
}

.scrollup-1 {
    display: none;
    position:absolute;
    top: 6px;
    right: 30px;
	width: 34px;
	height: 34px;
	text-align: center;	
	background-color: #e0e4cc;
	-webkit-border-radius: 100%;
    border-radius: 100%;	
	transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease; 
}
.scrollup-1:focus {
    outline: none;	
}
.scrollup-1:hover {
    text-decoration: none;
	background-color: #fa6900;
}
.scrollup-1 i {
    color: #fff;
	font-size: 20px;
	line-height: 34px;
}

/*------------------------------- Page Title ---------------------------*/

.page-title {
    background-color: #36bed9;
	padding: 20px 0 20px 0;
}
.breadcrumb {
    color: #b0e5ef;
	font-size: 12px;   
    text-align: right;	
}
.breadcrumb a {
    color: #b0e5ef;
	transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;     
}
.breadcrumb a:hover {
    color: #fff;
	text-decoration: none;
}
.breadcrumb span {
    color: #fff;
	font-weight: 600;
}
.breadcrumb a, .breadcrumb span { 
    display: inline-block;
	margin: 0 3px;
}
.page-title h2 {
    font-size: 30px;
	font-weight: 600;
	color: #fff;
	margin: 0 0 10px 0;
}

/*------------------------------- Main Content ---------------------------------*/

.main-content {
    padding: 35px 0 30px 0;
}
.main-content hr {
    margin: 25px 0;
}
.main-content .content p:first-child {
    margin-top: 0;
}
.main-content p {
	font-size: 13px;
	text-align: justify;
	line-height: 170%;
}
.main-content p.italic-text {
	font-size: 14px;
	font-style: italic;
}
.content {
   padding: 0 0 50px 0;
}
img.pull-right {
   margin: 0 0 30px 30px;
}
img.left-right {
   margin: 0 30px 30px 0;
}

/*--------------------------------- Sidebar -----------------------------------*/

.sidebar .section-title {
   margin: 0 0 30px 0;
}
.sidebar-menu ul {
   padding: 0;
   margin: 0 0 0 25px;
   font-size: 13px;
   color: #fa6900;
}
.sidebar-menu ul li {
   padding: 0;
   margin: 0;
}
.sidebar-menu ul li a {
   border-bottom: 1px solid #eceee1;  
   padding: 14px 0 14px 30px;
   display: block;   
   color: #09353e;
   text-decoration: none;
   margin-left: -25px;
   transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;    
}
.sidebar-menu ul li a:hover {
   color: #fa6900;
   padding-left: 35px;
}  
.sidebar-menu ul li:last-child a {
   border-bottom: none;  
} 
.sidebar-menu .section-title {
   margin-bottom: 20px;
}
.sidebar aside {
   margin-bottom: 40px;
}
.sidebar .recent-box a {
   max-height: 90px;
}
.sidebar .recent-box a div {
   left: 35%;
   top: 30%;
}
.sidebar .our-vision {
   text-align: justify;
}
.sidebar .tab-article-pic  img {
   border-radius: 100%;
   -webkit-border-radius: 100%;  
   max-width: 100%;
   height: auto;   
}
.right-sidebar {
   padding-left: 45px;
}
.left-sidebar {
   padding-right: 45px;
}

/*--------------------------------- About Us ---------------------------------*/

.leftarrow, .rightarrow {
   z-index: 100;
   cursor: pointer;
   position: absolute;
   background-color: #fff;
   width: 50px;
   height: 50px;
   font-family: 'FontAwesome';
   font-size: 20px;
   line-height: 50px;
   text-align: center;
   transition: all 0.3s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;	
   color: #09353e;	
}
.leftarrow i, .rightarrow i {
   font-family: 'FontAwesome';
   font-size: 20px;
}
.leftarrow {
    left: 0;
	top: 42%;
}
.rightarrow {
    right: 0;
	top: 42%;
}
.leftarrow:hover, .rightarrow:hover {
   background-color: #09353e;
   color: #fff; 
   text-decoration: none;   
}
.content .carousel {
   margin-bottom: 40px;
}
.panel-body i {
   font-size: 90px;
   margin-left: 20px;
   color: #e0e4cc;
}
.content .carousel-indicators {
   display: none;
}

/*--------------------- Portfolio Page ----------------------*/

.portfolio-box {
    padding-bottom:50px;
}
.portfolio-box > a {
    position: relative;
    display: block;
	overflow: hidden;
	border-bottom:5px solid #fff;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease; 
   background-color: #000;  
   max-height: 200px;   
}
.portfolio-box > a:hover{
   	border-bottom:5px solid #36bed9;
}
.portfolio-box img {
    max-width: 100%;
	height: auto;
   transition: all 1s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease; 
}
.portfolio-box > a:hover img{
   	opacity: 0.3;
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);  
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
     transform: scale(1.1); 
}
.portfolio-box > a div{
    position: absolute;
	left:45%;
	top: 40%;
   transition: all 0.6s ease;
   -moz-transition: all 0.6s ease;
   -ms-transition: all 0.6s ease;
   -o-transition: all 0.6s ease;
   -webkit-transition: all 0.6s ease; 
   visibility: hidden;   
   opacity: 0;
}
.portfolio-box > a:hover div{
   visibility: visible;	
   opacity: 0.4;   
}
.portfolio-box > a div i{
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   text-align: center;
   color: #000;
   background-color: #fff;
   width: 40px;
   height: 40px;
   -webkit-border-radius: 100%;
   border-radius: 100%;
   padding: 10px 0;
}
.portfolio-box div {
    padding: 0 10px;
	text-align: center;
	color: #849a9e;
}
.portfolio-box  h3 {
    margin-bottom: 3px;
	color: #09353e;
    font-size: 16px;
    font-weight: 700;		
}
.portfolio-box  h3 a {
    color: #36bed9;
	text-decoration: none;
}	
.portfolio-box  h3 a:hover {
    color: #fa6900;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease; 
}	
.portfolio-2-columns img {
   width: 100%;
}
.portfolio-2-columns .portfolio-box > a {
   max-height: 400px;
}
.portfolio-2-columns .portfolio-box > a div {
   top: 48%;   
}
.portfolio-4-columns .portfolio-box > a div {
   left: 40%;   
}

/*----------------------------------------- Portfolio Single -------------------------*/

.main-content ul.social-icons li a {
   color: #fff;
}
.main-content .social-icons-content {
   text-align: left;
}
.project-single-details {
   padding: 12px 0 12px 70px;   
}
.project-single-details .row {
   padding-bottom: 8px;
}
.project-single-details button {
   background-color: #fa6900;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   display: inline-block;
   font-size: 14px;
   color: #fff;
   font-weight: 600;
   line-height: 40px;
   padding: 0 20px;  
   transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;	
    border: none;	
	margin-top: 10px;
}
.project-single-details button:hover {
   background-color: #fa8d00;
   text-decoration: none;   
}

/*------------------------------------- Contact Page ----------------------------------*/

.main-content.contact {
   padding: 0 0 30px 0;
   border-top: 3px solid #2a95aa;
}
.address-text a {
   text-decoration: none;
   color: #5b9020;
}
.address-text a:hover {
   text-decoration: underline;
}
#map-canvas {
   height: 100%;
   margin: 0px;
   padding: 0px
}
.container.contact-details {
   padding-top: 40px;
}
.contact-box {
   overflow: hidden;
   padding: 10px 0;   
}
.contact-box-ico i{
   float: left;
   display: inline-block;
   position: relative;
   width: 65px;
   height: 65px;
   -webkit-border-radius: 100%;
   border-radius: 100%;   
   text-align: center;
   color: #fff;
   font-size: 35px;
   transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;   
   background-color: #36bed9;   
   color: #fff;   
   line-height: 65px;
}
.contact-version-1 .contact-box-text {
   padding-left:80px;
} 
.contact-version-1 h3 {
   border-bottom: 3px solid #36BED9;  
   padding-bottom: 10px;
   margin-bottom: 10px;
   display: inline-block;
} 
.contact-version-2 h3 {
   color: #36bed9;
} 
.contact-version-2 h3 i {
   margin-right: 10px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   background-color: #36bed9;
   width: 30px;
   height: 30px;
   text-align: center;
   line-height: 30px;
   display: inline-block;
   color: #fff;
} 
.contact-version-2 .contact-box-text p {
   margin-left: 46px;
}
.contact-box-text p {
   margin: 0;
}
.contact-form {
   padding: 30px 40px 20px 40px;
   border: 1px solid #e0e4cc;
   background-color: #fcfcfa;
   margin-top: 30px;
}
.contact-form  input, .contact-form  textarea {
   margin-bottom: 15px;
   font-size: 13px;
   padding-left: 30px;
}
.submit-line {
   text-align: right;
}
.submit-line button {
   background-color: #fa6900;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   display: inline-block;
   font-size: 16px;
   color: #fff;
   font-weight: 600;
   line-height: 36px;
   padding: 0 30px;  
   border: none;	
   margin-top: 20px;
}
.submit-line button:hover {
   background-color: #fa8d00;
   text-decoration: none;   
}
.input-field {
   position: relative;
}
.input-field i {
   position: absolute;
   top: 12px;
   left: 12px;
   color: #09353e;
   font-size: 14px;
}

/*------------------------------------------ Grid System ------------------------------------*/

.grid h3 {
   margin: 40px 0 20px 0;
}
.grid h3 span {
   font-size: 16px;
   font-weight: 400;
}
.grid-system [class^="col-"] {
   padding-top: 4px;
   padding-bottom: 4px;
}
.grid-system [class^="col-"] div {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   text-align: center;
   padding-top: 3px;
   padding-bottom: 3px;
   background-color: #eff1e5;
   border: 1px solid #e0e4cc;   
}

/*---------------------------------------- Typography --------------------------------------*/

.icons-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.icons-list li {
   padding: 5px 0;
}
.icons-list li i {
   width: 50px;
   font-size: 20px;
   color: #37bedb;
   margin-right: 10px;
   vertical-align: -10%;
   text-align: center;
}
.ordered-list ol, .unordered-list ul {
   padding: 0;
   margin: 0 0 0 20px;
}
.ordered-list li, .unordered-list li {
   padding: 3px 0;
}

/*-------------------------------------- Icons ------------------------------------*/

.icons .intro {
   font-size: 16px;
   margin-bottom: 50px;
   padding: 0;
   background: none;
}
.icons .row {
   margin: 0;
}
.icons div.col-sm-3 {
   padding-top: 3px;
   padding-bottom: 3px;
}
.icons i {
   font-size: 21px;
   margin-right: 15px;
}
.no-margin {
   margin: 0;
}

/*------------------------------------- 404 Page ---------------------------------*/

.page-not-found p {
	text-align: center;
	font-size: 90px;
	color: #09353e;
	font-weight: bold;
	margin: 0;
}
.page-not-found {
	text-align: center;
    font-size: 25px;	
}

/*------------------------------------ Custom Header 2 ------------------------------*/

header.custom-header {
    height: 100%;
}
.custom-header .toplinks {
	border-bottom: 1px solid #eff1e5;
	padding-bottom: 5px;
}
.custom-header .color-line {
	float: right;
}
.custom-header .social {
	float: left;
}
.custom-header .social-icons-content {
	padding: 5px 10px 5px 0;
	text-align: left;
	position: relative;
	z-index: 99999;
}
.custom-header .social-icons {
	float: left;
}
.custom-header  .phone-number {
	float: left;
	overflow: hidden;
}
.custom-header  .search-content {
	position: relative;
	float: left;
	right: 0;
	top: 0;
}
.custom-header  .search-content .form-search input {
	width: 26px;
	height: 26px;
	background: url("../img/search_icon.png") no-repeat scroll 7px center #FA6900;
	padding: 0 0 0 26px;
	margin-left: 30px;
}
.custom-header  .search-content .form-search input:focus {
    width: 150px;
}
.custom-header .logo a p {
    margin: 0;
	font-size: 11px;
	font-weight: normal;
	color: #527178;
}
.custom-header .logo-menu {
	padding: 20px 0;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.3);
	z-index: 99998;	
	position: relative;
} 
.custom-header .logo-menu.navbar-fixed-top { 
	position: fixed;
}
.custom-header .logo-menu  h1.logo {
	margin: 0;
}
.custom-header  .navbar {
	box-shadow: none;
	margin-top: 20px;
	float: right;
}
.custom-header .navbar-nav > li > a {
	padding: 8px 15px;
}
.custom-header .navbar-nav > li {
	border-top: 0;
	border-bottom: 6px solid transparent; 
}
.custom-header .navbar-nav > li:hover {
    border-top: 0;
    border-bottom: 6px solid #fa6900;	
	background: none;
}
.custom-header  .dropdown-menu {
	top: 119%;
}
.custom-header .dropdown-submenu > .dropdown-menu {
	top: 0;
}
.custom-header .only-phone-search .phone-number {
	padding: 0;
}
.custom-header .only-phone-search .search-content input {
	width: 150px;
	height: 28px;
	background: none;
	padding: 3px 10px;
	margin-left: 30px;
	border: 1px solid #e0e4cc;
	color: #cbd0b1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	font-style: italic;
}
.custom-header .only-phone-search .search-content input:focus {
    width: 150px;
	color: #09353e;
}

/*--------------------------------------- Meet the Team -------------------------------*/

.team-member-title {
	padding: 20px 0;
	overflow: hidden;
}
.team-member-title ul.social-icons li {
	padding-left: 3px;
}
.team-member-name {
	float: left;
}
.team-member-links {
	float: right;
	margin: 0 10px 0 20px;
}
.team-member-name p {
	font-size: 18px;
	color: ##09353E;
	font-weight: 600;
	margin: 0 0 5px 0;
	line-height: 100%;	
}
.team-member .col-sm-6, .team-member .col-sm-4, .team-member .col-sm-3 {
    padding-left: 20px;
	padding-right: 20px;
}

/*-------------------------------------- About Me ----------------------------------*/

.list-icon {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list-icon li {
	padding: 5px 0;
}
.list-icon li i {
	color: #69d2e7;
	font-size: 18px;
	margin-right: 5px;
	vertical-align: -10%;
}

/*----------------------------------- Progress Bar ----------------------------*/

.progress {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	height: 20px;
	background: #FAFAFA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10) inset;
	overflow: visible;
}
.progress-bar {
    background-color: #CCCCCC;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background: #fa6900;
}
.progress-bar {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
}
span.progress-bar-tooltip {
	position: absolute;
	padding: 4px 8px;
	background-color: #333;
	color: #FFF;
	line-height: 15px;
	font-size: 11px;
	display: block;
	position: absolute;
	top: -28px;
	right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	filter: alpha(opacity=0);
	opacity: 0;
}
span.progress-bar-tooltip:after {
	border-color: #333 transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	bottom: -5px;
	content: "";
	display: block;
	left: 13px;
	position: absolute;
	width: 0;
}


















